@import "tailwindcss";

@theme {
  --font-sans: "Inter", sans-serif;
}

@custom-variant dark (&:where(.dark, .dark *));

html,
body {
  width: 100%;
  overflow-x: hidden;
}
* {
  scrollbar-width: thin;
  scrollbar-color: #64748b transparent;
}

.dark * {
  scrollbar-color: #475569 #020617;
}

*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

.dark *::-webkit-scrollbar-track {
  background: #020617;
}

*::-webkit-scrollbar-thumb {
  background-color: #94a3b8;
  border-radius: 9999px;
}

.dark *::-webkit-scrollbar-thumb {
  background-color: #475569;
}
*::-webkit-scrollbar-thumb {
  opacity: 0.4;
}

*:hover::-webkit-scrollbar-thumb {
  opacity: 1;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
